<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">{{ 'registration' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card class="ion-padding custom-card">
    <ion-card-content>
      <form [formGroup]="registerForm">
        <ion-item>
          <ion-input label="{{ 'name' | translate }}" labelPlacement="floating" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'surname' | translate }}" labelPlacement="floating" formControlName="surname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'email' | translate }}" labelPlacement="floating" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'password' | translate }}" labelPlacement="floating" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="block" [disabled]="registerForm.invalid" (click)="register()">{{ 'create-account' | translate }}</ion-button>
        <ion-button fill="clear" expand="block" [routerLink]="['/auth/login']">{{ 'log-in' | translate }}</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>