<ion-content>
  <ion-list *ngIf="!(isLoading | async)" class="custom-list">
    <ion-item lines="full" *ngFor="let item of userList | async">
      <ion-label>{{ item.name }}</ion-label>
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="deleteUser(item.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="(isLoading | async)" name="crescent"></ion-spinner>
</ion-content>
