<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-input label="Correo electrónico" labelPlacement="floating" type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="block" [disabled]="loginForm.invalid" (click)="login()">Iniciar sesión</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  
  <ion-footer>
    <ion-toolbar>
      <ion-button href="#">¿Olvidaste tu contraseña?</ion-button>
      <ion-button href="#">Registrarse</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
