<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ 'update-user' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button  color="success" (click)="confirm()" [strong]="true">{{ 'confirm' | translate  }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <form [formGroup]="updateUserForm">
      <ion-item>
        <ion-input label="{{ 'name' | translate }}" labelPlacement="floating" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="{{ 'surname' | translate }}" labelPlacement="floating" formControlName="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="{{ 'email' | translate }}" labelPlacement="floating" type="email" formControlName="email"></ion-input>
      </ion-item>
    </form>
  </ion-item>
</ion-content>